.heroBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-blend-mode: screen, hard-light;
    background:
        /* 1st: black bg color */
        linear-gradient(#111214, #1f2124 47%, #0f1013 57%, #111214 100%),

        /* 2nd: transparent layer */
        linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.83) 45%, black 60%, transparent 100%),

        /* 3rd: pink to orange */
        linear-gradient(to bottom right, rgba(250, 97, 196, 0.7) 3%, rgba(255, 221, 140, 0.5) 20%, transparent 50%),

        /* 4th: greenish in top left corner */
        radial-gradient(farthest-corner at 0% 40%, rgba(119, 233, 226, 0.7) 10%, rgba(70, 192, 255, 0.6) 24%, rgba(40, 163, 255, 0.4) 36%, transparent 80%),

        /* 5th: blue glow in bottom right corner */
        radial-gradient(ellipse 50% 50% at 100% 80%, rgba(208, 119, 233, 0.6) 8%, rgba(89, 150, 244, 0.5) 20%, rgba(45, 161, 248, 0.5) 50%, transparent 100%);
}